.log {
  list-style: none;
  padding: get-unit(1 2);

  &__editing-actions {
    display: flex;
    justify-content: space-between;
    padding: get-unit(2 0);
    margin-bottom: get-unit(3);
    border-bottom: 1px solid get-color(gray, 1);
    background: white;
    position: sticky;
    top: 0;
    z-index: 100;
  }

  &__sections {
    &--compact {
      @include light-gray-border;
    }
  }

  &__parts {
    display: flex;
    flex-wrap: wrap;
    margin-left: get-unit(3);

    &--compact {
      margin-left: 0;
    }
  }

  &__part {
    margin-left: get-unit(1);
  }
}

.log-full-width {
  width: 100%;
}

.log-section {
  @include light-gray-border;
  padding: get-unit(2);
  margin-bottom: get-unit(1);

  &--compact {
    border: none;
  }

  &__title {
    background: get-color(white);
    padding: get-unit(1);
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__title-button {
    margin: get-unit(0 2);
  }

  &__actions {
    display: flex;
    justify-content: flex-end;
    flex: 1;
  }

  &__icon-button {
    transform: scale(0.8);
  }
}

.log-line {
  margin-left: get-unit(3);

  &__icon-button {
    color: get-color(red);
  }

  &--compact {
    margin-left: 0;
    margin-bottom: get-unit(1);
  }

  &__title {
    background: get-color(white);
    padding: get-unit(1);
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__title-text {
    font-style: italic;
    color: get-color(gray, 2);

    &--dismissed {
      text-decoration: line-through;
    }
  }

  &__actions {
    display: flex;
    justify-content: flex-end;
    flex: 1;
  }

  &__icon-button {
    transform: scale(0.8);
  }
}

.log-part {
  margin: get-unit(0 1);
  padding: get-unit(0 1);
  border-radius: get-unit(0.5);

  &__button-index {
    transform: scale(0.7);
    margin-left: get-unit(1);
  }

  &__distribute {
    display: flex;
  }
}

.log-assignees {
  &__list {
    transform: scale(0.8) translateY(-1px);
    display: flex !important;
    background: get-color(gray, 2);
    width: auto;
  }

  &__item {
    width: 24px;
    height: 24px;
    min-width: 24px;
    display: block;
    border-radius: 50%;
    margin: 0 1px;
  }
}
