.instance-options {
  background: $light-gray;
  padding: get-unit(2);

  &__title {
    text-align: center;
    border-bottom: 1px solid gray;
    font-size: 75%;
    font-weight: bolder;
    padding-bottom: get-unit(1);
    margin-bottom: get-unit(2);
  }

  &--no-instance {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    & > .hint {
      margin: get-unit(1, 0);
    }
  }

  .form-items {
    display: flex;

    &--2 {
      & > * {
        width: 50%;
      }
    }
  }

  .form-item {
    margin-bottom: get-unit(2);

    & > .ant-form-item-label {
      padding: 0;
    }
  }

  .form-actions {
    margin-top: get-unit(4);
    width: 100%;
    justify-content: space-between;
    display: flex;

    & > .ant-row {
      margin: 0 4px;
    }
  }
}
