.load-song {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  // antd override
  .ant-input-group-wrapper {
    width: auto;
  }

  &__title {
    @include centered-title;
  }

  &__separator {
    text-transform: uppercase;
    margin: get-unit(0 3);
    font-size: 80%;
    transform: translateY(6px);
  }
}
