$assignee-border-size: get-unit(4);

.modal-options-form {
  $self: &;
  padding: get-unit(2 0);

  &--assignee-A {
    border-top: $assignee-border-size solid $assignee-color-a;
  }

  &--assignee-B {
    border-top: $assignee-border-size solid $assignee-color-b;
  }

  &--assignee-C {
    border-top: $assignee-border-size solid $assignee-color-c;
  }

  &--assignee-D {
    border-top: $assignee-border-size solid $assignee-color-d;
  }

  &--assignee-E {
    border-top: $assignee-border-size solid $assignee-color-e;
  }

  &--assignee-F {
    border-top: $assignee-border-size solid $assignee-color-f;
  }

  &--assignee-G {
    border-top: $assignee-border-size solid $assignee-color-g;
  }

  &--assignee-H {
    border-top: $assignee-border-size solid $assignee-color-h;
  }

  &--assignee-I {
    border-top: $assignee-border-size solid $assignee-color-i;
  }

  &__item {
    margin-bottom: get-unit(3);
  }

  &__items {
    display: flex;
    justify-content: space-between;

    &--2 {
      & #{$self}__item {
        width: 48%;
      }
    }

    &--3 {
      & #{$self}__item {
        width: 30%;
      }
    }

    &--4 {
      & #{$self}__item {
        width: 24%;
      }
    }
  }

  &__action-button {
    width: 100%;

    & button {
      width: 100%;
    }
  }
}
