.distribution {
  height: inherit;

  &__title-song {
    font-weight: normal;

    &:before {
      content: ' - ';
    }
  }

  &__tabs {
    background: white;
  }

  &__tab {
    padding: get-unit(2);

    &--dark {
      background: black;
    }
  }

  &__tab-icon {
    display: flex;
    flex-direction: column;
    min-width: 40px;

    & > .anticon {
      margin: 0;
    }
  }

  &__tab-options {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
