.distributor-content {
  min-height: 400px;
  background: rgba(get-color(white), 0.2);
  border-radius: get-unit(1);
  padding: get-unit(2);
}

.distributor-nav {
  display: grid;
  gap: get-unit(4);
  grid-template-columns: 50fr 50fr;
  background: rgba(get-color(white), 0.2);
  border-radius: get-unit(1);
  padding: get-unit(2);

  &__left-elements {
    justify-self: end;
  }

  // background: red;
  position: sticky;
  bottom: get-unit(2);
}

.distributor-step-title {
  @include centered-title;
}

.distributor-step-actions {
  text-align: center;
  margin: get-unit(1);

  &__action {
    text-align: center;
    margin: get-unit(1);
  }
}
