.not-found {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;

  &__container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  &__button {
    margin: get-unit(3);
  }
}
