$dark-background-color: #2e323d;
$light-blue: #00d8fa;
$light-gray: #e1e2e2;
$blue: #1890ff;

$assignee-color-a: #fef29a;
$assignee-color-b: #c3fde0;
$assignee-color-c: #f1bcc0;
$assignee-color-d: #c6b4cf;
$assignee-color-e: #bcdcf0;
