body {
  background-color: $dark-background-color;
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
}

.app {
  width: 100%;
  background-color: $dark-background-color;
  min-height: 100vh !important;
}

.container {
  padding: get-unit(3) 50px;
  flex: 1;
}

.content {
  display: flex;
}

.creator-container {
  display: flex;
}
