// FUR

$fur-colors: #a3967a, #a5711f, #c28b40, #c49a48, #977725, #a38731, #b59a48, #ab8925, #d3b437,
  #d9c350, #574639, #7b623e, #8c754a, #bf4c30, #bf6c30, #c17b38;

@for $i from 1 through length($fur-colors) {
  .fur-color-bg-#{$i - 1} {
    background-color: #{nth($fur-colors, $i)} !important;
  }

  .fur-color-fill-#{$i - 1} {
    fill: #{nth($fur-colors, $i)} !important;
  }
}

// SNOUT
$snout-colors: #f2d4b1, #f6ebb4, #dacdbd;

@for $i from 1 through length($snout-colors) {
  .snout-color-bg-#{$i - 1} {
    background-color: #{nth($snout-colors, $i)} !important;
  }

  .snout-color-fill-#{$i - 1} {
    fill: #{nth($snout-colors, $i)} !important;
  }
}

// NOSE
$nose-colors: #522906, #2b230e, #725f10, #7a4f18, #b46838, #cc3f3f;

@for $i from 1 through length($nose-colors) {
  .nose-color-bg-#{$i - 1} {
    background-color: #{nth($nose-colors, $i)} !important;
  }

  .nose-color-fill-#{$i - 1} {
    fill: #{nth($nose-colors, $i)} !important;
  }
}
