// FUR

$fur-colors: #a3967a, #a5711f, #c28b40, #c49a48, #977725, #a38731, #b59a48, #ab8925, #d3b437,
  #d9c350, #574639, #7b623e, #8c754a, #bf4c30, #bf6c30, #c17b38;

@for $i from 1 through length($fur-colors) {
  .fur-color-bg-#{$i - 1} {
    background-color: #{nth($fur-colors, $i)} !important;
  }

  .fur-color-fill-#{$i - 1} {
    fill: #{nth($fur-colors, $i)} !important;
  }
}

// SNOUT
