.color-swatch-radio.ant-radio-button-wrapper {
  padding: 0;
  height: auto;
}

.color-swatch {
  width: 25px;
  height: 25px;
  display: block;
}

.character-option {
  display: flex;
  flex-direction: column;
}

.options {
  margin: get-unit(0 0 2 4);
}
