@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url(~antd/dist/antd.css);
/*
 * Converts a value (or list of values) into a standard scale with base 3px
 * Example:
 * get-unit(1) -> 3px
 * get-unit(2 1) -> 3px 6px
 * get-unit(4 2 4 1) -> 12px 6px 12px 3px
 */
/* get-color
 * Determines color and available shades
 * Each color has 9 levels and 5 is the default mid color one
*/
@keyframes color-orange-pulse {
  0% {
    background-color: #fea245;
  }
  50% {
    background-color: #ffeedd;
  }
  100% {
    background-color: #fea245;
  }
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
}

.app {
  width: 100%;
  min-height: 100vh !important;
}

.container {
  padding: 12px 50px;
  height: calc(100vh - 64px);
  overflow: auto;
}

.content {
  display: flex;
}

.section {
  display: flex;
}

.icon--green {
  color: green;
}

.assignee-background--A {
  background: #fec891;
}

.assignee-background--B {
  background: #ffef99;
}

.assignee-background--C {
  background: #c3f0c7;
}

.assignee-background--D {
  background: #99e0d8;
}

.assignee-background--E {
  background: #a5c2fe;
}

.assignee-background--F {
  background: #e08686;
}

.assignee-background--G {
  background: #d8d2f9;
}

.assignee-background--H {
  background: #a2a2a2;
}

.assignee-background--I {
  background: #fee6fb;
}

.assignee-background--none {
  background: #d6d7d8;
}

.assignees-radio-group {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 8px;
}
.assignees-radio-group > label {
  width: 25%;
  text-align: center;
}
.assignees-radio-group > label:nth-child(1) {
  background: #fec891;
}
.assignees-radio-group > label:nth-child(2) {
  background: #ffef99;
}
.assignees-radio-group > label:nth-child(3) {
  background: #c3f0c7;
}
.assignees-radio-group > label:nth-child(4) {
  background: #99e0d8;
}
.assignees-radio-group > label:nth-child(5) {
  background: #a5c2fe;
}
.assignees-radio-group > label:nth-child(6) {
  background: #e08686;
}
.assignees-radio-group > label:nth-child(7) {
  background: #d8d2f9;
}
.assignees-radio-group > label:nth-child(8) {
  background: #a2a2a2;
}
.assignees-radio-group > label:nth-child(9) {
  background: #fee6fb;
}

.header {
  display: flex;
  align-items: center;
}
.header__logo {
  height: 50px;
}
.header__nav ul {
  display: flex;
  list-style-type: none;
  padding: 0;
  margin-left: 20px;
}
.header__nav a {
  color: #00d8fa;
}
.header__nav li {
  display: inline-flex;
  margin: 0 12px;
}
.header__nav li .active {
  border-bottom: 3px solid white;
}

.loading {
  display: flex;
  width: 100%;
  height: 100%;
  flex: 1;
  justify-content: center;
  align-items: center;
}

.loading-logo__white {
  fill: #ffffff;
}

.loading-logo__cyan {
  fill: #00d8fa;
  animation: spiral-in-1 500ms ease-in-out infinite;
  transform-origin: center;
}

.loading-logo__blue {
  fill: #1890ff;
  animation: spiral-in-2 500ms ease-in-out infinite;
  transform-origin: center;
}

.loading-logo__black {
  fill: #000000;
  animation: spiral-in-3 500ms ease-in-out infinite;
  transform-origin: center;
}

@keyframes spiral-in-1 {
  0% {
    opacity: 0;
    transform: translateX(0) scale(1);
  }
  30% {
    transform: translateX(3%) scale(0.9);
  }
  50% {
    transform: translateX(-5%) scale(0.8);
  }
  75% {
    transform: translateX(0) scale(1);
    opacity: 1;
  }
}

@keyframes spiral-in-2 {
  0% {
    opacity: 0;
    transform: translateX(0) scale(1);
  }
  30% {
    transform: translateX(4%) scale(0.9);
  }
  50% {
    transform: translateX(-3%) scale(0.6);
  }
  75% {
    transform: translateX(0) scale(1);
    opacity: 1;
  }
}

@keyframes spiral-in-3 {
  0% {
    opacity: 0;
    transform: translateX(0) scale(1);
  }
  30% {
    transform: translateX(-5%) scale(0.9);
  }
  50% {
    transform: translateX(4%) scale(0.5);
  }
  75% {
    transform: translateX(0) scale(1);
    opacity: 1;
  }
}

.loading-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  padding: 24px;
  color: #6f7273;
}
.loading-container__message {
  text-align: center;
  font-style: italic;
}

.login__title {
  margin-top: 40px;
  text-align: center;
}

.login__form {
  margin: 40px 0;
}

.login__form-action {
  display: flex;
  justify-content: center;
}

.step {
  display: flex;
}
.step--0 {
  justify-content: center;
}
.step--0 .ant-input-group-wrapper {
  width: auto;
}
.step--0 .separator {
  text-transform: uppercase;
  margin: 0 12px;
  font-size: 80%;
  transform: translateY(6px);
}

.admin__form-container {
  width: 50%;
  border: 1px solid #d6d7d8;
  border-radius: 2px;
  padding: 12px;
}

.admin-form__item {
  margin-bottom: 12px;
}

.admin-form__items {
  display: flex;
  justify-content: space-between;
}
.admin-form__items--2 .admin-form__item {
  width: 48%;
}
.admin-form__items--3 .admin-form__item {
  width: 30%;
}
.admin-form__items--4 .admin-form__item {
  width: 24%;
}
.admin-form__items--4 .admin-form__item--double {
  width: 48%;
}

.admin-button-container {
  width: 100%;
  display: flex;
}
.admin-button-container > * {
  margin: 4px 8px;
}
.admin-button-container--center {
  justify-content: center;
}
.admin-button-container--right {
  justify-content: flex-end;
}

.groups-page {
  display: flex;
}

.group-quick-links {
  margin-left: 12px;
}

.group-card-containers {
  width: 100%;
}

.groups-cards {
  display: flex;
  flex-wrap: wrap;
}
.groups-cards__card {
  margin-right: 8px;
}

.group-card {
  margin-bottom: 12px;
}
.group-card__action {
  width: 100%;
  display: block;
}

.distribute__actions {
  display: flex;
  justify-content: center;
  margin: 12px 0;
}

.distribute__actions-input {
  width: 200px;
  margin: 0 16px;
}

.distribute__container {
  display: flex;
  margin-top: 20px;
}

.distribute__controls {
  padding: 12px 20px 0 20px;
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.distribute__line-distribution-completion {
  background: #d6d7d8;
  padding: 8px;
  border-radius: 4px;
}

.distribute-options {
  width: 50%;
  margin-right: 16px;
}
.distribute-options__video {
  display: flex;
  justify-content: center;
  width: 100%;
  background: black;
}

.distribute-log {
  width: 50%;
  max-height: 80vh;
  overflow-y: auto;
  background: white;
}

.members-selection {
  margin: 24px 4px 24px 0;
  width: 100%;
}

.distribute-member-button {
  display: flex;
  width: 100%;
  margin: 12px 0;
  min-height: 42px;
  border: 2px solid transparent;
}
.distribute-member-button--selected {
  border: 2px dashed gray;
  border-radius: 30px;
}
.distribute-member-button--selected:hover,
.distribute-member-button--selected:active,
.distribute-member-button--selected:focus {
  border: 2px dashed gray;
  border-radius: 30px;
}
.distribute-member-button .member-component {
  width: 100%;
}

.fur-color-bg-0 {
  background-color: #a3967a !important;
}

.fur-color-fill-0 {
  fill: #a3967a !important;
}

.fur-color-bg-1 {
  background-color: #a5711f !important;
}

.fur-color-fill-1 {
  fill: #a5711f !important;
}

.fur-color-bg-2 {
  background-color: #c28b40 !important;
}

.fur-color-fill-2 {
  fill: #c28b40 !important;
}

.fur-color-bg-3 {
  background-color: #c49a48 !important;
}

.fur-color-fill-3 {
  fill: #c49a48 !important;
}

.fur-color-bg-4 {
  background-color: #977725 !important;
}

.fur-color-fill-4 {
  fill: #977725 !important;
}

.fur-color-bg-5 {
  background-color: #a38731 !important;
}

.fur-color-fill-5 {
  fill: #a38731 !important;
}

.fur-color-bg-6 {
  background-color: #b59a48 !important;
}

.fur-color-fill-6 {
  fill: #b59a48 !important;
}

.fur-color-bg-7 {
  background-color: #ab8925 !important;
}

.fur-color-fill-7 {
  fill: #ab8925 !important;
}

.fur-color-bg-8 {
  background-color: #d3b437 !important;
}

.fur-color-fill-8 {
  fill: #d3b437 !important;
}

.fur-color-bg-9 {
  background-color: #d9c350 !important;
}

.fur-color-fill-9 {
  fill: #d9c350 !important;
}

.fur-color-bg-10 {
  background-color: #574639 !important;
}

.fur-color-fill-10 {
  fill: #574639 !important;
}

.fur-color-bg-11 {
  background-color: #7b623e !important;
}

.fur-color-fill-11 {
  fill: #7b623e !important;
}

.fur-color-bg-12 {
  background-color: #8c754a !important;
}

.fur-color-fill-12 {
  fill: #8c754a !important;
}

.fur-color-bg-13 {
  background-color: #bf4c30 !important;
}

.fur-color-fill-13 {
  fill: #bf4c30 !important;
}

.fur-color-bg-14 {
  background-color: #bf6c30 !important;
}

.fur-color-fill-14 {
  fill: #bf6c30 !important;
}

.fur-color-bg-15 {
  background-color: #c17b38 !important;
}

.fur-color-fill-15 {
  fill: #c17b38 !important;
}

.snout-color-bg-0 {
  background-color: #f2d4b1 !important;
}

.snout-color-fill-0 {
  fill: #f2d4b1 !important;
}

.snout-color-bg-1 {
  background-color: #f6ebb4 !important;
}

.snout-color-fill-1 {
  fill: #f6ebb4 !important;
}

.snout-color-bg-2 {
  background-color: #dacdbd !important;
}

.snout-color-fill-2 {
  fill: #dacdbd !important;
}

.nose-color-bg-0 {
  background-color: #522906 !important;
}

.nose-color-fill-0 {
  fill: #522906 !important;
}

.nose-color-bg-1 {
  background-color: #2b230e !important;
}

.nose-color-fill-1 {
  fill: #2b230e !important;
}

.nose-color-bg-2 {
  background-color: #725f10 !important;
}

.nose-color-fill-2 {
  fill: #725f10 !important;
}

.nose-color-bg-3 {
  background-color: #7a4f18 !important;
}

.nose-color-fill-3 {
  fill: #7a4f18 !important;
}

.nose-color-bg-4 {
  background-color: #b46838 !important;
}

.nose-color-fill-4 {
  fill: #b46838 !important;
}

.nose-color-bg-5 {
  background-color: #cc3f3f !important;
}

.nose-color-fill-5 {
  fill: #cc3f3f !important;
}

.eye-color-bg-0 {
  background-color: #626c7a !important;
}

.eye-color-fill-0 {
  fill: #626c7a !important;
}

.eye-color-bg-1 {
  background-color: #6fcbd6 !important;
}

.eye-color-fill-1 {
  fill: #6fcbd6 !important;
}

.eye-color-bg-2 {
  background-color: #3f76bb !important;
}

.eye-color-fill-2 {
  fill: #3f76bb !important;
}

.eye-color-bg-3 {
  background-color: #016683 !important;
}

.eye-color-fill-3 {
  fill: #016683 !important;
}

.eye-color-bg-4 {
  background-color: #3ab44a !important;
}

.eye-color-fill-4 {
  fill: #3ab44a !important;
}

.eye-color-bg-5 {
  background-color: #259361 !important;
}

.eye-color-fill-5 {
  fill: #259361 !important;
}

.eye-color-bg-6 {
  background-color: #1b694a !important;
}

.eye-color-fill-6 {
  fill: #1b694a !important;
}

.eye-color-bg-7 {
  background-color: #5e3a21 !important;
}

.eye-color-fill-7 {
  fill: #5e3a21 !important;
}

.eye-color-bg-8 {
  background-color: #42210a !important;
}

.eye-color-fill-8 {
  fill: #42210a !important;
}

.eye-color-bg-9 {
  background-color: #261e03 !important;
}

.eye-color-fill-9 {
  fill: #261e03 !important;
}

.character {
  width: 600px;
  height: 600px;
  background: #fff;
  border: 2px solid #eee;
}

.svg-sprite {
  position: absolute;
  width: 600px;
  height: 600px;
}

.svg-grid__base {
  fill: none;
  stroke: #ccc;
  stroke-miterlimit: 10;
}

.svg-grid__safety-lines {
  fill: none;
  stroke: #3cc;
  stroke-miterlimit: 10;
  stroke-width: 2;
}

.svg-grid__star-lines {
  fill: none;
  stroke: #ccc;
  stroke-miterlimit: 10;
  stroke-width: 3;
}

.svg-base-tail__border {
  stroke: #000000;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 10;
  stroke-width: 6.4829;
  fill: #777470;
}

.svg-base-tail__fill {
  fill: #777470;
}

.svg-base-head__st1 {
  fill: none;
  stroke: #000000;
  stroke-width: 12.9659;
  stroke-linecap: round;
  stroke-linejoin: round;
}

.svg-base-head__st2 {
  fill: #777470;
}

.svg-base-head__snout {
  fill: #a3a19f;
}

.svg-base-head__nose,
.svg-base-head__pupil {
  fill: #3b3a36;
  stroke: #000000;
  stroke-width: 6.4829;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 10;
}

.svg-base-head__eye {
  fill: #ffffff;
  stroke: #000000;
  stroke-width: 6.4829;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 10;
}

.svg-base-body__st1 {
  fill: #777470;
  stroke: #000000;
  stroke-width: 6.4829;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 10;
}

.svg-base-body__st2 {
  fill: #777470;
}

.svg-base-body__st3 {
  fill: #58595b;
  stroke: #000000;
  stroke-width: 6.4829;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 10;
}

.color-swatch-radio.ant-radio-button-wrapper {
  padding: 0;
  height: auto;
}

.color-swatch {
  width: 25px;
  height: 25px;
  display: block;
}

.character-option {
  display: flex;
  flex-direction: column;
}

.options {
  margin: 0 0 8px 16px;
}

.modal-options-form {
  padding: 8px 0;
}
.modal-options-form--assignee-A {
  border-top: 16px solid #fec891;
}
.modal-options-form--assignee-B {
  border-top: 16px solid #ffef99;
}
.modal-options-form--assignee-C {
  border-top: 16px solid #c3f0c7;
}
.modal-options-form--assignee-D {
  border-top: 16px solid #99e0d8;
}
.modal-options-form--assignee-E {
  border-top: 16px solid #a5c2fe;
}
.modal-options-form--assignee-F {
  border-top: 16px solid #e08686;
}
.modal-options-form--assignee-G {
  border-top: 16px solid #d8d2f9;
}
.modal-options-form--assignee-H {
  border-top: 16px solid #a2a2a2;
}
.modal-options-form--assignee-I {
  border-top: 16px solid #fee6fb;
}
.modal-options-form__item {
  margin-bottom: 12px;
}
.modal-options-form__items {
  display: flex;
  justify-content: space-between;
}
.modal-options-form__items--2 .modal-options-form__item {
  width: 48%;
}
.modal-options-form__items--3 .modal-options-form__item {
  width: 30%;
}
.modal-options-form__items--4 .modal-options-form__item {
  width: 24%;
}
.modal-options-form__action-button {
  width: 100%;
}
.modal-options-form__action-button button {
  width: 100%;
}

.stepper-progress {
  background: white;
  padding: 40px 0 16px 0;
  margin-bottom: 8px;
  border: 1px solid #d6d7d8;
  border-radius: 2px;
}

.load-song {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.load-song .ant-input-group-wrapper {
  width: auto;
}
.load-song__title {
  width: 100%;
  text-align: center;
}
.load-song__separator {
  text-transform: uppercase;
  margin: 0 12px;
  font-size: 80%;
  transform: translateY(6px);
}

.lyrics-and-sections__title {
  width: 100%;
  text-align: center;
}

.lyrics-and-sections__container {
  display: flex;
  width: 100%;
  margin-bottom: 12px;
  justify-content: space-between;
}

.lyrics-and-sections__paragraph {
  width: 48%;
  align-self: flex-end;
}

.lyrics-and-sections__textarea {
  width: 50%;
  margin-right: 4px;
  flex: 1;
  min-height: 200px;
}

.lyrics-and-sections__log {
  width: 50%;
  flex: 1;
  border: 1px solid #d6d7d8;
  border-radius: 2px;
}

.lyrics-and-sections__action {
  text-align: center;
  margin: 4px;
}

.distributor-grid {
  display: grid;
  grid-template-columns: [start] 40% [middle] 60fr [end];
  grid-template-rows: [start] 4px [first] 180px [second] auto [third] auto [fourth] auto [end];
  gap: 12px 16px;
}
.distributor-grid__key-capture {
  background: red;
  grid-column-start: start;
  grid-column-end: end;
  grid-row-start: start;
  grid-row-end: first;
  background: #e1e2e2;
}
.distributor-grid__video-container {
  grid-column-start: start;
  grid-column-end: middle;
  grid-row-start: first;
  grid-row-end: second;
  display: flex;
  justify-content: center;
  background: black;
}
.distributor-grid__controls {
  grid-column-start: start;
  grid-column-end: middle;
  grid-row-start: second;
  grid-row-end: third;
}
.distributor-grid__timestamps {
  grid-column-start: start;
  grid-column-end: middle;
  grid-row-start: third;
  grid-row-end: fourth;
  min-height: 200px;
}
.distributor-grid__log {
  grid-column-start: middle;
  grid-column-end: end;
  grid-row-start: first;
  grid-row-end: fourth;
  max-height: 75vh;
  overflow-y: scroll;
  border: 1px solid #d6d7d8;
  border-radius: 2px;
}
.distributor-grid__actions {
  grid-column-start: start;
  grid-column-end: end;
  grid-row-start: fourth;
  grid-row-end: end;
}

.time-and-sync__action {
  text-align: center;
  margin: 4px;
}

.key-capture {
  width: 100%;
  height: 4px;
  background-color: #ff4d4f;
  animation: color-red-pulse 500ms infinite ease-in-out;
  margin-bottom: 8px;
}

@keyframes color-red-pulse {
  0% {
    background-color: #d14949;
  }
  50% {
    background-color: #f0c3c3;
  }
  100% {
    background-color: #d14949;
  }
}

.distributor-controls__record {
  width: 100%;
}

.distributor-controls__other-controls {
  background: #f0f1f1;
  margin-top: 8px;
  padding: 16px;
}

.distributor-controls__title {
  font-weight: bold;
}

.distributor-controls__description {
  font-size: 90%;
  color: #6f7273;
}

.distributor-controls__assignees {
  width: 100%;
  margin-top: 8px;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
}
.distributor-controls__assignees > label {
  width: 20%;
  text-align: center;
}

.distributor-controls__buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.distributor-controls__button {
  box-sizing: border-box;
  display: block;
  min-height: 50px;
  border-radius: 8px;
  margin: 0 4px 8px 0;
  flex-grow: 1;
}

.timestamps-bank__list {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 12px;
  padding: 8px;
  border: 1px solid #e1e2e2;
}

.timestamps-bank__item {
  margin-right: 4px;
  margin-bottom: 4px;
}

.timestamps-bank__button--selected.ant-btn {
  background: #ffeedd;
}

.timestamps-bank__button--active.ant-btn {
  background: #fea245;
  animation: color-orange-pulse 500ms infinite ease-in-out;
}

.timestamps-bank__button-index {
  transform: scale(0.7);
  margin-left: 4px;
}

.timestamps-bank__point-and-click-button.ant-btn {
  background: #ffeedd;
}

.timestamps-bank__title {
  font-weight: bold;
}

.timestamps-bank__description {
  font-size: 90%;
  color: #6f7273;
}

.timestamps-bank__delete-options {
  display: flex;
}

@keyframes color-orange-pulse {
  0% {
    background-color: #fea245;
  }
  50% {
    background-color: #fec891;
  }
  100% {
    background-color: #fea245;
  }
}

.group-distributions {
  margin-bottom: 8px;
  font-size: 90%;
}

.group-distribution-table__title {
  width: 30%;
}

.group-distribution-table__snippet {
  width: 50%;
}

.group-distribution-snippet {
  display: flex;
  width: 100%;
  background: #d6d7d8;
  border-radius: 4px;
  font-size: 80%;
  height: 16px;
  margin: 8px 0;
}
.group-distribution-snippet span {
  text-align: center;
  color: white;
}
.group-distribution-snippet span:first-child {
  border-radius: 4px 0 0 4px;
}
.group-distribution-snippet span:last-child {
  border-radius: 0 4px 4px 0;
}

.group-members {
  display: flex;
  flex-direction: column;
}
.group-members__member {
  margin-bottom: 4px;
}

.log {
  list-style: none;
  padding: 4px 8px;
}
.log__editing-actions {
  display: flex;
  justify-content: space-between;
  padding: 8px 0;
  margin-bottom: 12px;
  border-bottom: 1px solid #f0f1f1;
  background: white;
  position: sticky;
  top: 0;
  z-index: 100;
}
.log__sections--compact {
  border: 1px solid #d6d7d8;
  border-radius: 2px;
}
.log__parts {
  display: flex;
  flex-wrap: wrap;
  margin-left: 12px;
}
.log__parts--compact {
  margin-left: 0;
}
.log__part {
  margin-left: 4px;
}

.log-full-width {
  width: 100%;
}

.log-section {
  border: 1px solid #d6d7d8;
  border-radius: 2px;
  padding: 8px;
  margin-bottom: 4px;
}
.log-section--compact {
  border: none;
}
.log-section__title {
  background: white;
  padding: 4px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.log-section__title-button {
  margin: 0 8px;
}
.log-section__actions {
  display: flex;
  justify-content: flex-end;
  flex: 1;
}
.log-section__icon-button {
  transform: scale(0.8);
}

.log-line {
  margin-left: 12px;
}
.log-line__icon-button {
  color: #d14949;
}
.log-line--compact {
  margin-left: 0;
  margin-bottom: 4px;
}
.log-line__title {
  background: white;
  padding: 4px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.log-line__title-text {
  font-style: italic;
  color: #d6d7d8;
}
.log-line__title-text--dismissed {
  text-decoration: line-through;
}
.log-line__actions {
  display: flex;
  justify-content: flex-end;
  flex: 1;
}
.log-line__icon-button {
  transform: scale(0.8);
}

.log-part {
  margin: 0 4px;
  padding: 0 4px;
  border-radius: 2px;
}
.log-part__button-index {
  transform: scale(0.7);
  margin-left: 4px;
}
.log-part__distribute {
  display: flex;
}

.log-assignees__list {
  transform: scale(0.8) translateY(-1px);
  display: flex !important;
  background: #d6d7d8;
  width: auto;
}

.log-assignees__item {
  width: 24px;
  height: 24px;
  min-width: 24px;
  display: block;
  border-radius: 50%;
  margin: 0 1px;
}

.preview__title {
  text-align: center;
}

.line-distribution__container {
  display: grid;
  width: 80vw;
  height: 45vw;
  margin: 0 auto;
  grid-template-columns: [start] 25vw [middle] auto [end];
  grid-template-rows: [start] 14vw [middle] auto [end];
  background-color: black;
}

.line-distribution__video {
  grid-column: start / middle;
  grid-row-start: start / middle;
  display: flex;
  justify-content: center;
  align-items: center;
}

.line-distribution__live-ranking {
  grid-column: start / middle;
  grid-row: middle / end;
  position: relative;
  padding: 12px;
  display: flex;
  flex-direction: column;
  background: #bdc3c7;
  background: linear-gradient(to bottom, #030303, #5f6e79);
}

.line-distribution__live-lyrics {
  grid-column: middle / end;
  grid-row: start / end;
  background: linear-gradient(to bottom, #c7d3db, #5f6e79);
  overflow-y: auto;
}

.rank-entry {
  width: 95%;
  height: 35px;
  margin-bottom: 4px;
  position: absolute;
  display: grid;
  opacity: 0.3;
  transition: opacity 500ms, transform 1s;
  grid-template-columns: [start] 30px [first] auto [second] 40px [end];
  grid-template-rows: [start] 16px [middle] auto [end];
  gap: 4px;
}
.rank-entry__avatar {
  grid-column: start / first;
  grid-row: start / end;
  background: white;
  display: flex;
  width: 100%;
  height: 30px;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}
.rank-entry__name {
  grid-column: first / second;
  grid-row: start / middle;
  font-weight: bold;
  color: white;
  padding-left: 4px;
}
.rank-entry__progress {
  grid-column: first / second;
  grid-row: middle / end;
  display: flex;
  margin: 0 4px 4px 4px;
  background: rgba(255, 255, 255, 0.1);
  height: 8px;
  border-radius: 4px;
}
.rank-entry__progress-bar {
  height: 8px;
  border-radius: 4px;
  transition: width 500ms, background-color 1s;
}
.rank-entry__timestamp {
  grid-column: second / end;
  grid-row: start / end;
  justify-self: center;
  color: white;
}
.rank-entry--on {
  opacity: 1;
}
.rank-entry---1 {
  transform: translateY(351px);
  opacity: 0;
}
.rank-entry--0 {
  transform: translateY(0px);
}
.rank-entry--1 {
  transform: translateY(39px);
}
.rank-entry--2 {
  transform: translateY(78px);
}
.rank-entry--3 {
  transform: translateY(117px);
}
.rank-entry--4 {
  transform: translateY(156px);
}
.rank-entry--5 {
  transform: translateY(195px);
}
.rank-entry--6 {
  transform: translateY(234px);
}
.rank-entry--7 {
  transform: translateY(273px);
}
.rank-entry--8 {
  transform: translateY(312px);
}
.rank-entry--9 {
  transform: translateY(351px);
}

.lyrics-entries-container:first-child {
  transform: translateY(500px);
}

.lyrics-entries-container:last-child {
  padding-bottom: 500px;
}

.lyrics-entries-li {
  transition: opacity 1s;
}
.lyrics-entries-li--padded {
  opacity: 0.1;
}

.lyrics-entry {
  display: grid;
  grid-template-columns: [start] 30px [middle] auto [end];
  grid-template-rows: [start] 28px [middle] auto [end];
  width: 450px;
  margin: 16px auto;
}
.lyrics-entry__avatars {
  grid-column: start / middle;
  grid-row: start / end;
  padding: 8px;
  margin-left: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.lyrics-entry__avatar--all {
  opacity: 0.7;
}
.lyrics-entry__names {
  grid-column: middle / end;
  grid-row: start / middle;
  background: #f3f3f3;
  border-radius: 12px 12px 0 0;
  padding: 4px 4px 4px 16px;
}
.lyrics-entry__name {
  text-transform: uppercase;
  font-weight: bolder;
  margin-right: 8px;
}
.lyrics-entry__lines {
  grid-column: middle / end;
  grid-row: middle / end;
  background: white;
  border-radius: 0 0 12px 12px;
  padding: 4px 4px 4px 16px;
}
.lyrics-entry__line {
  display: block;
}

.song-metadata__title {
  text-align: center;
}

.song-metadata__action {
  text-align: center;
  margin: 4px;
}

.song-metadata-form {
  width: 50%;
  margin: 0 auto;
}
.song-metadata-form__item {
  margin-bottom: 12px;
}
.song-metadata-form__items {
  display: flex;
  justify-content: space-between;
}
.song-metadata-form__items--2 .song-metadata-form__item {
  width: 48%;
}
.song-metadata-form__items--3 .song-metadata-form__item {
  width: 30%;
}
.song-metadata-form__items--4 .song-metadata-form__item {
  width: 24%;
}

.member {
  display: flex;
  align-items: center;
  margin-bottom: 4px;
}
.member__separator {
  margin: 0 4px;
}

.member-info {
  flex-grow: 1;
  display: flex;
  overflow-y: hidden;
}

.member-name {
  margin: 0 4px;
}

.member-progress {
  width: 50%;
  background: #d6d7d8;
  height: 10px;
  border-radius: 4px;
  display: flex;
}

.member-progress-bar {
  background: #959899;
  height: 10px;
  border-radius: 4px;
  transition: width 500ms;
}

.member-progress-number {
  margin-left: 8px;
  width: 36px;
}
