@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
@import url(~antd/dist/antd.css);
/* get-color
 * Determines color and available shades
 * Each color has 9 levels and 5 is the default mid color one
*/
body {
  background-color: #2e323d;
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif; }

.app {
  width: 100%;
  background-color: #2e323d;
  min-height: 100vh !important; }

.container {
  padding: 12px 50px;
  flex: 1; }

.content {
  display: flex; }

.creator-container {
  display: flex; }

.header {
  display: flex;
  align-items: center; }
  .header__logo {
    height: 32px; }

.fur-color-bg-0 {
  background-color: #a3967a !important; }

.fur-color-fill-0 {
  fill: #a3967a !important; }

.fur-color-bg-1 {
  background-color: #a5711f !important; }

.fur-color-fill-1 {
  fill: #a5711f !important; }

.fur-color-bg-2 {
  background-color: #c28b40 !important; }

.fur-color-fill-2 {
  fill: #c28b40 !important; }

.fur-color-bg-3 {
  background-color: #c49a48 !important; }

.fur-color-fill-3 {
  fill: #c49a48 !important; }

.fur-color-bg-4 {
  background-color: #977725 !important; }

.fur-color-fill-4 {
  fill: #977725 !important; }

.fur-color-bg-5 {
  background-color: #a38731 !important; }

.fur-color-fill-5 {
  fill: #a38731 !important; }

.fur-color-bg-6 {
  background-color: #b59a48 !important; }

.fur-color-fill-6 {
  fill: #b59a48 !important; }

.fur-color-bg-7 {
  background-color: #ab8925 !important; }

.fur-color-fill-7 {
  fill: #ab8925 !important; }

.fur-color-bg-8 {
  background-color: #d3b437 !important; }

.fur-color-fill-8 {
  fill: #d3b437 !important; }

.fur-color-bg-9 {
  background-color: #d9c350 !important; }

.fur-color-fill-9 {
  fill: #d9c350 !important; }

.fur-color-bg-10 {
  background-color: #574639 !important; }

.fur-color-fill-10 {
  fill: #574639 !important; }

.fur-color-bg-11 {
  background-color: #7b623e !important; }

.fur-color-fill-11 {
  fill: #7b623e !important; }

.fur-color-bg-12 {
  background-color: #8c754a !important; }

.fur-color-fill-12 {
  fill: #8c754a !important; }

.fur-color-bg-13 {
  background-color: #bf4c30 !important; }

.fur-color-fill-13 {
  fill: #bf4c30 !important; }

.fur-color-bg-14 {
  background-color: #bf6c30 !important; }

.fur-color-fill-14 {
  fill: #bf6c30 !important; }

.fur-color-bg-15 {
  background-color: #c17b38 !important; }

.fur-color-fill-15 {
  fill: #c17b38 !important; }

.snout-color-bg-0 {
  background-color: #f2d4b1 !important; }

.snout-color-fill-0 {
  fill: #f2d4b1 !important; }

.snout-color-bg-1 {
  background-color: #f6ebb4 !important; }

.snout-color-fill-1 {
  fill: #f6ebb4 !important; }

.snout-color-bg-2 {
  background-color: #dacdbd !important; }

.snout-color-fill-2 {
  fill: #dacdbd !important; }

.nose-color-bg-0 {
  background-color: #522906 !important; }

.nose-color-fill-0 {
  fill: #522906 !important; }

.nose-color-bg-1 {
  background-color: #2b230e !important; }

.nose-color-fill-1 {
  fill: #2b230e !important; }

.nose-color-bg-2 {
  background-color: #725f10 !important; }

.nose-color-fill-2 {
  fill: #725f10 !important; }

.nose-color-bg-3 {
  background-color: #7a4f18 !important; }

.nose-color-fill-3 {
  fill: #7a4f18 !important; }

.nose-color-bg-4 {
  background-color: #b46838 !important; }

.nose-color-fill-4 {
  fill: #b46838 !important; }

.nose-color-bg-5 {
  background-color: #cc3f3f !important; }

.nose-color-fill-5 {
  fill: #cc3f3f !important; }

.character {
  width: 600px;
  height: 600px;
  background: #fff;
  border: 2px solid #eee; }

.svg-sprite {
  position: absolute;
  width: 600px;
  height: 600px; }

.svg-grid__base {
  fill: none;
  stroke: #ccc;
  stroke-miterlimit: 10; }

.svg-grid__safety-lines {
  fill: none;
  stroke: #3cc;
  stroke-miterlimit: 10;
  stroke-width: 2; }

.svg-grid__star-lines {
  fill: none;
  stroke: #ccc;
  stroke-miterlimit: 10;
  stroke-width: 3; }

.svg-base-tail__border {
  stroke: #000000;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 10;
  stroke-width: 6.4829;
  fill: #777470; }

.svg-base-tail__fill {
  fill: #777470; }

.svg-base-head__st1 {
  fill: none;
  stroke: #000000;
  stroke-width: 12.9659;
  stroke-linecap: round;
  stroke-linejoin: round; }

.svg-base-head__st2 {
  fill: #777470; }

.svg-base-head__snout {
  fill: #a3a19f; }

.svg-base-head__nose, .svg-base-head__pupil {
  fill: #3b3a36;
  stroke: #000000;
  stroke-width: 6.4829;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 10; }

.svg-base-head__eye {
  fill: #ffffff;
  stroke: #000000;
  stroke-width: 6.4829;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 10; }

.svg-base-body__st1 {
  fill: #777470;
  stroke: #000000;
  stroke-width: 6.4829;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 10; }

.svg-base-body__st2 {
  fill: #777470; }

.svg-base-body__st3 {
  fill: #58595b;
  stroke: #000000;
  stroke-width: 6.4829;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 10; }

.color-swatch-radio.ant-radio-button-wrapper {
  padding: 0;
  height: auto; }

.color-swatch {
  width: 25px;
  height: 25px;
  display: block; }

.character-option {
  display: flex;
  flex-direction: column;
  margin: 0 0 6px 24px; }
