.groups-page {
  display: flex;
}

.group-quick-links {
  margin-left: get-unit(3);
}

.group-card-containers {
  width: 100%;
}

.groups-cards {
  display: flex;
  flex-wrap: wrap;

  &__card {
    margin-right: get-unit(2);
  }
}

.group-card {
  margin-bottom: get-unit(3);

  &__action {
    width: 100%;
    display: block;
  }
}
