.member {
  display: flex;
  align-items: center;

  margin-bottom: get-unit(1);

  &__separator {
    margin: get-unit(0 2 0 1);
  }

  &__info {
    flex-grow: 1;
    display: flex;
    overflow-y: hidden;
  }

  &__name {
    margin: get-unit(0 1);
  }

  &__position {
    text-transform: uppercase;
    font-size: 80%;
  }

  &__progress {
    width: 50%;
    background: get-color(grey, 2);
    height: 10px;
    border-radius: get-unit(1);
    display: flex;
  }

  &__progress-bar {
    background: get-color(grey, 4);
    height: 10px;
    border-radius: get-unit(1);
    transition: width 500ms;
  }

  &__progress-number {
    margin-left: get-unit(2);
    width: get-unit(9);
  }
}
