.groups-cards {
  display: flex;
  flex-wrap: wrap;

  &__item {
    width: 35%;
    max-width: 360px;
    flex-grow: 1;
  }

  &__card {
    margin: get-unit(0 3 3 0);
  }

  &__card-action {
    width: 100%;
    display: block;
  }
}
