.header {
  display: flex;
  align-items: center;

  &__logo {
    height: 50px;
  }

  &__nav {
    ul {
      display: flex;
      list-style-type: none;
      padding: 0;
      margin-left: get-unit(5);
    }

    a {
      color: $light-blue;
    }

    li {
      // background: orange;
      display: inline-flex;
      margin: get-unit(0 3);

      & .active {
        border-bottom: 3px solid white;
      }
    }
  }
}
